<div class="row title-row">
    <div class="pull-right">
        <button class="btn btn-success btn-sm"
                data-bind="click: newItem, visible: !isEditing()"><i class="fa fa-plus"></i></button>
    </div>
    <div class="pull-left">
        <h3 data-bind="text: $root.loc.stringAccessLists"></h3>
    </div>
</div>
<div class="composer-plate">

    <div data-bind="visible: !isEditing()">

        <!-- ko foreach: accessLists -->
        <div class="tile row" data-bind="click: $root.setSelectedItem, css: { selected: $data === $root.selectedItem()}">

            <!-- Standard update, edit and delete options -->
            <div data-bind="compose: 'adminTileButtonPanel.html'"></div>
            <div class="title" data-bind="html: $root.getUserGroupName(principalId())"></div>

            <div class="tile-confirmation make-danger" data-bind="visible: $data === $root.selectedItem() && $root.isDeleting()">
                <i class="fa fa-trash-o fa-2x"></i>
                <span data-bind="text: $root.loc.textDeleteConfirmationMessage"></span>
            </div>

            <div class="tile-body row" data-bind="visible: $data !== $root.selectedItem() || !$root.isDeleting()">
                <div class="col-md-4">
                    <span class="tile-label"><i class="fa fa-users"></i></span>
                    <a data-bind="text: accessList.operations().length"></a>
                </div>
                <div class="col-md-4">
                    <span class="tile-label"><i class="fa fa-building"></i></span>
                    <a data-bind="text: accessList.partyId ? $root.getCompanyName(accessList.partyId) : 'FAIL TO ACCESS PARTY ID!'"></a>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>

<div data-bind="compose: 'adminEditAccessList.html', visible: isEditing()"></div>
