<div class="tile row"
     data-bind="visible: !$root.isEditing(), click: $root.setSelectedItem, css: { selected: id() === $root.selectedItemId()}">

    <!-- Standard update, edit and delete options -->
    <div class="" data-bind="compose: 'adminTileButtonPanel.html'"></div>

    <!-- ko with: company -->

    <div class="col-md-1 hidden-sm hidden-xs">
        <img class="img img-responsive img-thumbnail"
             data-bind="attr:{ src: $root.utilities.resolveFileUrl(logoImageId()) }"/>
    </div>

    <div class="">
        <span class="title" data-bind="text: name"></span>

        <div class="tile-confirmation make-danger"
             data-bind="visible: id() === $root.selectedItemId() && $root.isDeleting()">
            <i class="fa fa-trash-o fa-2x"></i>
            <span data-bind="text: $root.loc.textDeleteConfirmationMessage"></span>
        </div>

        <div class="tile-body row" data-bind="visible: id() !== $root.selectedItemId() || !$root.isDeleting()">

            <div class="col-md-4">
                <span class="tile-label"><i class="fa fa-user"></i></span>
                <span data-bind="text: $parent.owner.person.names.fullName"></span>
            </div>
            <div class="col-md-4">
                <span class="tile-label"><i class="fa fa-envelope"></i></span>
                <span data-bind="text: $parent.owner.emailAddress"></span>
            </div>

        </div>
    </div>
    <!-- /ko -->
</div>