<div class="row title-row">
    <div class="pull-left">
        <h3 data-bind="text: $root.loc.stringGraduateShareSchemeSearch"></h3>
    </div>
</div>
<div class="row hide">
    <div class="composer-plate">
        <form class="form form-admin">
            <div class="form-group col-md-4  col-sm-12  col-xs-12 ">
                <div class="form-group">
                    <label for="inputRegion" data-bind="text: $root.loc.stringRegionColon"></label>
                    <select id="inputRegion"
                            class="form-control"
                            data-bind="options: $root.regions.codes, optionsText: 'name', optionsValue: 'codeValue', value: regionCodeValue"></select>
                </div>
            </div>
            <div class="form-group col-md-4  col-sm-12  col-xs-12 ">
                <label for="inputExpertiseIndustry"
                       data-bind="text: $root.loc.stringExpertiseIndustryColon"></label>
                <select id="inputExpertiseIndustry"
                        class="form-control"
                        data-bind="options: $root.expertiseIndustries.codes, optionsText: 'name', optionsValue: 'codeValue', value: expertiseIndustryCodeValue"></select>
            </div>
            <div class="form-group col-md-4  col-sm-12  col-xs-12 ">
                <label for="inputPosition" data-bind="text: $root.loc.stringPositionColon"></label>
                <select id="inputPosition"
                        class="form-control"
                        data-bind="options: $root.positions.codes, optionsText: 'name', optionsValue: 'codeValue', value: positionCodeValue"></select>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="composer-plate">

        <!-- ko foreach: filteredCompanies -->
        <div class="inner-tile row">
            <!-- ko with: company -->

            <div class="col-md-2 hidden-xs hidden-sm">
                <img class="img img-responsive img-thumbnail"
                     data-bind="attr:{ src: $root.utilities.resolveFileUrl(logoImageId())}" />
            </div>

            <div class="col-md-10 col-xs-12 col-sm-12">
                <a data-bind="attr: {'href': $root.getCompanyProfileUrl($data)}" target="_blank">
                    <h3 class="title" data-bind="text: name"></h3>
                </a>
                <div class="tile-body row">
                    <span data-bind="text: mentoringPortal.contactPersonFullName"></span> (<span data-bind="text: mentoringPortal.contactPersonTitle"></span>)
                </div>

                <div class="tile-body row">
                    <div class="col-md-5">
                        <span data-bind="text: mentoringPortal.contactPersonNumber"></span>
                    </div>
                    <div class="col-md-5">
                        <span data-bind="text: mentoringPortal.contactPersonEmailAddress"></span>
                        <button class="btn btn-sm btn-xs-transparent copy"
                                data-bind="attr: {'data-clipboard-text': mentoringPortal.contactPersonEmailAddress }, visible: mentoringPortal.contactPersonEmailAddress">
                            <i class="fa fa-copy"></i>
                        </button>
                        <a class="btn btn-xs-transparent"
                           type="button"
                           data-bind="attr: {href: $root.getLinkMailToCompanyOwner(mentoringPortal.contactPersonEmailAddress)}, visible: mentoringPortal.contactPersonEmailAddress">
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </div>
                </div>
                <div class="tile-body row">
                    <div class="col-md-12">
                        <a data-bind="attr: {href: $root.getGoogleMapLink($data)}, visible: addressOne" target="_blank">
                            <span data-bind="text: $root.getLocationName($data)+ ' '+ addressOne()"></span>
                            <i class="fa fa-external-link"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /ko -->

        </div>
        <!-- /ko -->
    </div>

    <div class="col-md-12 right-left-padding-remover">
        <div data-bind="messageBox: messageDetail"></div>
    </div>

</div>