<div class="row title-row">
    <div class="pull-right">
    </div>
    <div class="pull-left">
        <h3 data-bind="text: $root.loc.stringRigAndVessel"></h3>
    </div>
</div>

<div class="composer-plate">

    <ul class="nav nav-pills">
        <li class="active">
            <a href="#search" data-toggle="tab">
                <span class="fa fa-edit" aria-hidden="true"></span>
                    <span class="tab-header-label"
                          data-bind="text: $root.loc.stringAvailabeRigAndVessels"></span>
            </a>
        </li>
        <li>
            <a href="#regiAndVessle" data-toggle="tab">
                <span class="fa fa-cogs" aria-hidden="true"></span>
                <span class="tab-header-label" data-bind="text: $root.loc.stringAddRigAndVessel"></span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="search" class="tab-pane fade in active" data-bind="compose: { model: 'viewmodels/adminCompanyEquipmentSearch'}">
        </div>
        <div id="regiAndVessle" class="tab-pane" data-bind="compose: { model: 'viewmodels/adminEditCompanyEquipment'}">
        </div>

    </div>
</div>
