<div class="row title-row">
    <div class="pull-left">
        <h4 data-bind="text: $root.loc.stringRedundancyPortalSearch"></h4>
    </div>
</div>
<div class="row">
    <div class="composer-plate">
        <div class="form form-admin">

        <div class="form-group col-md-4  col-sm-12  col-xs-12 ">
            <label for="inputCountry" data-bind="text: $root.loc.stringCountryColon"></label>
            <select id="inputCountry"
                    class="form-control"
                    data-bind="options: $root.countries.codes, optionsText: 'name', optionsValue: 'codeValue', value: $root.countryCode, optionsCaption: 'All'"></select>
        </div>
        <div class="form-group col-md-4  col-sm-12  col-xs-12 ">
            <label for="inputNationality" data-bind="text: $root.loc.stringNationalityColon"></label>
            <select id="inputNationality"
                    class="form-control"
                    data-bind="options: $root.countries.codes, optionsText: 'name', optionsValue: 'codeValue', value: $root.nationalityCodeValue, optionsCaption: 'All'"></select>
        </div>      

        <div class="form-group col-md-4  col-sm-12  col-xs-12 ">
            <label for="inputEducationCodeValue"
                   data-bind="text: $root.loc.stringEducationColon"></label>
            <select id="inputEducationCodeValue"
                    class="form-control"
                    data-bind="options: $root.educations.codes, optionsText: 'name', optionsValue: 'codeValue', value: educationCodeValue, optionsCaption: 'All'"></select>
        </div> 
       
            <div class="form-group col-md-4  col-sm-12  col-xs-12 ">
                <label for="inputIndustryExperienceCodeValue"
                       data-bind="text: $root.loc.stringIndustryExperienceColon"></label>
                <select id="inputIndustryExperienceCodeValue"
                        class="form-control"
                        data-bind="options: $root.industryExperiences.codes, optionsText: 'name', optionsValue: 'codeValue', value: $root.industryExperienceCodeValue, optionsCaption: 'All'"></select>
            </div>


            <div class="form-group col-md-4  col-sm-12  col-xs-12">
                <label for="inputExperienceDisciplineSecondLevelCodeValue"
                       data-bind="text: $root.loc.stringSummaryOfExperienceCategoryColon"></label>
                <select id="inputExperienceDisciplineSecondLevelCodeValue"
                        class="form-control"
                        data-bind="options: $root.experienceDisciplineSecondLevelCodeValue().codes, optionsText: 'name', optionsValue: 'codeValue', value: selectedExperienceDisciplineFirstLevelCodeValue, optionsCaption: 'All'"></select>
            </div>

            <div class="form-group col-md-4  col-sm-12  col-xs-12" data-bind="visible: $root.showSecondLevel()">
                <label for="inputExperienceDisciplineThirdLevelCodeValue"
                       data-bind="text: $root.loc.stringSubCategoryColon"></label>
                <select id="inputExperienceDisciplineThirdLevelCodeValue"
                        class="form-control"
                        data-bind="options: $root.experienceDisciplineThirdLevelCodeValue().codes, optionsText: 'name', optionsValue: 'codeValue', value: selectedExperienceDisciplineSecondLevelCodeValue,optionsCaption: 'All'"></select>
            </div>

            <div class="form-group col-md-4  col-sm-12  col-xs-12 ">
            <label for="inputCategoryOfPersonnelCodeValue"
                    data-bind="text: $root.loc.stringCategoryOfPersonnelColon"></label>
            <select id="inputCategoryOfPersonnelCodeValue"
                    class="form-control"
                    data-bind="options: $root.categoryOfPersonnel.codes, optionsText: 'name', optionsValue: 'codeValue', value: categoryOfPersonnelCodeValue, optionsCaption: 'All'"></select>
            </div>

            <div class="form-group col-md-12  col-sm-12  col-xs-12">

                <label class="control-label" for="inputSearchPhrase"
                       data-bind="text: $root.loc.stringJobSearchPhraseColon"></label>
                <a data-bind="html: $root.loc.htmlLearnMoreAboutSearch, click: $root.showGuide"></a>

                <div class="input-group merged">
                    <input id="inputSearchPhrase"
                           type="text"
                           class="form-control"
                           data-bind="value: $root.searchPhrase, attr: {placeholder: $root.loc.placeholderJobSearch}, executeOnEnter: startSearch" />

                    <span class="input-group-btn">
                        <button class="btn btn-success"
                                type="button"
                                data-bind="click: startSearch">
                            <span data-bind="text: !isBusy() ? $root.loc.stringSearch : $root.loc.stringSearchingDots "></span>
                            <i data-bind="visible: !isBusy()" class="fa fa-search"></i>
                            <i class="fa fa-circle-o-notch fa-spin" data-bind="visible: isBusy"></i>
                        </button>
                    </span>
                </div>
            </div>

            <div class="form-group col-md-12  col-sm-12  col-xs-12 right-left-padding-remover">
                <div style="display:none" data-bind="messageBox: messageDetail"></div>
                <div class="animated fadeIn x-slow-animated"
                     data-bind="compose: 'homeCompanyProfileSearchResult.html'"></div>
            </div>

            <div class="form-group col-md-12  col-sm-12  col-xs-12 animated fadeIn"
                 data-bind="visible: $root.isShowingGuide">
                <div data-bind="compose: 'homeCompanyCandidateProfileSearchGuide.html'">

                </div>
            </div>
        </div>
    </div>
</div>