<div class="row title-row">
    <div class="pull-left">
        <h3 data-bind="text: $root.loc.stringDocumentLibraries"></h3>
    </div>
</div>

<div class="composer-plate">

    <ul class="nav nav-pills">
        <li class="active">
            <a href="#search" data-toggle="tab">
                <span class="fa fa-edit" aria-hidden="true"></span>
                <span class="tab-header-label">Search Document Library</span>
            </a>
        </li>
        <li>
            <a href="#addDocument" data-toggle="tab">
                <span class="fa fa-cogs" aria-hidden="true"></span>
                <span class="tab-header-label" >Add Document</span>
            </a>
        </li>
    </ul>
    <br />
    <p>
        This new initiative allows us to idea share and produce a full Global Library of documents for our partners perusal.
    Please add your documents or papers by selecting a category and attaching your document.  Specifically we will be building 
    the Library, concentrating on Business Collaboration and Workforce Efficiency including but not limited to Best Practise, 
    Diversity & Inclusion, Change Management, Leadership Strategy and Workforce Efficiency.
        <br /></p>
</div>