<section id="section-home" class="page-section">

    <h2>REDUNDANCY PORTAL</h2>
    <br/>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
        Welcome to the Oil Diversity Global Redundancy Portal.
        <div class="spacer"></div>
        This is a Client function which allows us as employers to assist employees who are to be made redundant and, or; contract personnel who may be coming to the end of their contract (either onshore or offshore).
        <div class="spacer"></div>
        This portal is only accessible privately by other Oil Diversity Global affiliated partners.  Its aim is to assist our employees and to retain key skills within the industry and we would encourage all of our affiliated partners to make full use of this function.
        <div class="spacer"></div>
        When you put the employees details onto this portal you can request that another affiliated partner can either contact yourself or the employee directly.  Where possible we would recommend that Employers provide their direct details.  By doing this it means that reference can be given on the employee.
        <div class="spacer"></div>
        This portal will launch on October 1<sup>st</sup> 2016 and all affiliated partners will be given advance warning of this and full training provided.
        <div class="spacer"></div>
        By doing this we hope to ease all affiliated partners into the Oil Diversity Global community and ensure that everyone is making maximum use of the site.
    </div>

</section>
