<div class="row title-row">
    <div class="pull-right">
    </div>
    <div class="pull-left">
        <h3 data-bind="text: $root.loc.stringTechnologyShowcase"></h3>
    </div>
</div>

<div style="text-align:center; margin-top:200px;margin-bottom:200px">
    <p> Show your products off on a Global platform, educate potential Clients on your technologies and let interested parties contact you to discuss.</p><br /><br/>

    <h3> <strong>*Launches April 2019*</strong></h3><br /><br/>

    <p> Our representatives will be in contact with all affiliated partners to discuss further.<p>
</div>