<div data-bind="if: vacancyIsLoaded()" class="composer-plate">

    <div class="row" data-bind="visible: responsibilities">
        <h4 data-bind="text: $root.loc.stringResponsibilities"></h4>

        <div data-bind="text: responsibilities"></div>
    </div>
    <div class="row" data-bind="visible: scopeOfResponsibilities">
        <h4 data-bind="text: $root.loc.stringScopeOfResponsibilities"></h4>

        <div data-bind="text: scopeOfResponsibilities"></div>
    </div>
    <div class="row" data-bind="visible: entryRequirements">
        <h4 data-bind="text: $root.loc.stringEntryRequirements"></h4>

        <div data-bind="text: entryRequirements"></div>
    </div>
    <div class="row" data-bind="visible: additionalInformation">
        <h4 data-bind="text: $root.loc.stringAdditionalInformation"></h4>

        <div data-bind="text: additionalInformation"></div>
    </div>
    <div class="row">
        <h4 data-bind="text: $root.loc.stringRequireVisa"></h4>

        <div data-bind="visible:requireVisa ,text: $root.loc.stringYes"></div>
        <div data-bind="visible:!requireVisa ,text: $root.loc.stringNo"></div>
    </div>
    <div class="row top-pad-10" data-bind="enable: !isBeingApplied()">
        <button
                type="button"
                class="btn btn-block"
                data-bind="command: $root.applyForVacancyCmd, activity: $root.applyForVacancyCmd.isExecuting, css: { 'btn-primary': $root.userCanApply($data), 'btn-default': !$root.userCanApply($data), 'disabled': !$root.userCanApply($data)}">
            <span data-bind="text: $root.userCanApply($data) ? $root.loc.buttonApplyNowExclamation : $root.loc.stringYouHaveAppliedAlready"></span>
            <i class="fa fa-check" data-bind="visible: !$root.userCanApply($data)"></i>
        </button>
    </div>

</div>

