<section id="section-home" class="page-section">

    <h2>GRADUATE SHARE SCHEME</h2>
    <br/>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
        Welcome to the Oil Diversity Graduate Scheme, this is an initiative to fast track graduates and to make sure we
        retain them within the Oil and Gas industry. The key to this is the business co-operation of our affiliated
        partners.
        <div class="spacer"></div>
        The idea is that by registering your company’s details below you agree to be contacted by affiliated companies
        to effectively swap graduates for a time period; this could be 2 weeks or 6 months with the idea to give the
        graduate more rounded and/or global experience.
        <div class="spacer"></div>
        It may be that you are having to let graduates go for a short period of time and an affiliated partner can use
        them within their organisation?
        <div class="spacer"></div>
        The scheme will be heavily advertised throughout local media, our quarterly magazine and website to promote the
        flexibility of the Oil and Gas industry in training its personnel. This is another route to help us to attract
        graduates into the Oil and Gas industry.
        <div class="spacer"></div>
        This feature will launch shortly, we will keep you informed.
    </div>

</section>
