<div class="row title-row">
    <div class="pull-right">
        <button class="btn btn-success btn-sm"
                data-bind="click: newItem, visible: canCreate() && !isEditing()"><i class="fa fa-plus"></i></button>
    </div>
    <div class="pull-left">
        <h3 data-bind="text: $root.loc.stringApplications"></h3>
    </div>
</div>

<div class="composer-plate" data-bind="visible: !isEditing() && !$root.isShowingApplications()">
    <div class="row">
        <div class="form-group">
            <label for="inputCompany" data-bind="text: $root.loc.stringCompanyColon"></label>
            <select
                    id="inputCompany"
                    class="form-control"
                    data-bind="options: $root.companies, optionsText: 'companyName', value: $root.selectedCompany">
            </select>
        </div>
    </div>

    <div class="row spacer-row"></div>
    <div class="row help" data-bind="text: $root.loc.textApplicationOfThisCompany"></div>
    <div class="row spacer-row"></div>

    <div data-bind="messageBox: messageDetail"></div>

    <div class="inner-tile row" data-bind="visible: vacancies().length > 0">
        <div class="col-md-4">
            <span class="title" data-bind="text: $root.loc.stringTitle"></span>
        </div>
        <div class="col-md-2">
            <span class="title" data-bind="text: $root.loc.stringExpiry"></span>
        </div>
        <div class="col-md-2">
            <span class="title" data-bind="text: $root.loc.stringStartingFrom"></span>
        </div>
    </div>

    <!-- ko foreach: vacancies -->
    <div id="applicantsList" class="tile row">

        <div class="row">
            <div class="col-md-4">
                <span class="title" data-bind="text: jobTitle"></span>
                <span class="badge" data-bind="text: $root.getApplicationsCount($data)"></span>
                <span class="badge" data-bind="html: applicationsCount"></span>
            </div>

            <div class="col-md-2" >
                <span class="title" data-bind="text: smartExpiresOn()"></span>
            </div>

            <div class="col-md-2" >
                <span class="title" data-bind="text: relativeAgingEpoch()"></span>
            </div>

            <button
                    type="button"
                    class="btn btn-default btn-xs pull-right"
                    data-bind="command: $root.loadApplicationsCmd, activity: $root.loadApplicationsCmd.isExecuting">
                <span data-bind="text: $root.loc.buttonShowApplications"></span>
                <i data-bind="visible: !isShowingApplications()" class="fa fa-arrow-circle-o-right"></i>
                <i data-bind="visible: isShowingApplications()" class="fa fa-circle-o-notch fa-spin"></i>
            </button>
        </div>

    </div>
    <!-- /ko -->
</div>
<div class="row" data-bind="visible: $root.isShowingApplications(), with: $root.selectedVacancy">
    <div class="animated fadeIn x-slow-animated"
         data-bind="compose: 'homeCompanyApplicationsDetail.html'"></div>
</div>
