<!--<section id="section-home" class="page-section">
    <div class="row title-row">
        <div class="pull-left">
            <h3> Oil Diversity Global Quarterly Awards Nomination Form </h3>
        </div>
    </div>

    <div class="composer-plate">
        <form class="form form-admin">
            <p>Please fill in this form and return to <a href="mailto:bev@oildiversity.com">bev@oildiversity.com</a> </p>

            <hr>

            <p class="control-label">Award Category's</p>
            <div class="col-lg-4">
                Choose Award Category
            </div>
            <div class="form-group">
                <label for="radioAwardCategory">
                    <input type="radio" id="radioAwardCategory" />Women in Oil
                </label>
            </div>
            <div class="form-group">
                <label for="radioAwardCategory">
                    <input type="radio" id="radioAwardCategory" />Graduate Employee
                </label>
            </div>
            <div class="form-group">
                <label for="radioAwardCategory">
                    <input type="radio" id="radioAwardCategory" />Indigenous Employee
                </label>
            </div>
            <div class="form-group">
                <label for="radioAwardCategory">
                    <input type="radio" id="radioAwardCategory" />Rising Star
                </label>
            </div>
            <div class="form-group">
                <label for="radioAwardCategory">
                    <input type="radio" id="radioAwardCategory" />Oil Industry Veteran
                </label>
            </div>



            <label class="radio">

                Graduate Employee
            </label>

            <label class="radio">
                <input type="radio">

            </label>

            <label class="radio">
                <input type="radio">
                Rising Star
            </label>

            <label class="radio">
                <input type="radio">
                Oil Industry Veteran
            </label>
    </div>

    <hr>

    <p>Nominee Information</p>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Length of employment with current company </label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Current position held within the company</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Nominee's E-mail Address</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Nominee's contact number including area code </label>
                <input type="text" class="form-control">
            </div>
        </div>

    </div>

    <div class="clearfix"></div> <hr>


    <p>Nominator's Details</p>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Nominator's contact number including area code  </label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Nominators E-mail Address </label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Company Name</label>
                <input type="text" class="form-control">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Company Address  </label>
                <textarea rows="10" class="form-control"></textarea>
            </div>
        </div>

    </div>


    <div class="clearfix"></div> <hr>


    <p>Nomination Form</p>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Personal Criteria</label>
                <p>Describe the nominees personal achievements and background</p>
<textarea rows="5" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label>Professional criteria </label>
                <p>Describe the nominees most significant contributions to your organisation</p>
<textarea rows="5" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label>Leadership & Integrity </label>
                <p>Describe how the nominee leads with high professional standards, ethics and integrity</p>
<textarea rows="5" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label>Innovation </label>
                <p>Describe the nominees most significant innovations</p>
<textarea rows="5" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label>Results </label>
                <p>Describe the nominees most significant results for the orginisation</p>
<textarea rows="5" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label>Impact </label>
                <p>Describe the nominees impact on your organisation</p>
<textarea rows="5" class="form-control"></textarea>
            </div>

        </div>

        <div class="clearfix"></div> <hr>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <p>Any other information you would like to include about your nominee </p>
                    <textarea rows="25" class="form-control"></textarea>
                </div>

                <div class="form-group col-lg-6">
                    <label>Date Submitted </label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        </form>
    </div>



    </section>-->

<section id="section-home" class="page-section">
    <h2>QUATERLY AWARDS FORM</h2>
    <br />

    <div data-bind="html: contentToShow"></div>
    <form id="quarterly-awards-nomination-form" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">

        <!-- Choose The Award -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">

            <div class="title-bar">Choose The Award</div>

            <div class="radio">
                <label><input type="radio" name="award" value="Women of the Quarter" />Women of the Quarter</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="award" value="Graduate of the Quarter" />Graduate of the Quarter</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="award" value="Indigenous Employee of the Quarter" />Indigenous Employee of the Quarter</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="award" value="Rising Superstar of the Quarter" />Rising Superstar of the Quarter</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="award" value="Oil Industry Veteran" />Oil Industry Veteran</label>
            </div>

        </div>
        <!-- End Choose The Award -->
        <!-- Nominee Information -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">

            <div class="title-bar">Nominee Information</div>

            <!-- Nominee’s Name End-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Nominee’s Name</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 remove-padding">
                        <input name="firstNameNominee" placeholder="First Name" class="form-control" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 remove-padding">
                        <input name="lastNameNominee" placeholder="Last Name" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- End Nominee’s Name -->
            <!-- Current Position held within Company -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Current Position held within Company</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-padding">
                        <input name="currentPosition" placeholder="Current Position" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- End Current Position held within Company-->
            <!-- Length of Employment with current Company -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Length of Employment with current Company</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 remove-padding">
                        <input name="from" placeholder="From" class="form-control" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 remove-padding">
                        <input name="to" placeholder="To" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- End Length of Employment with current Company -->
            <!-- Nominee’s Contact Number -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Nominee’s Contact Number</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 remove-padding">
                        <input name="areaCodeNominee" placeholder="Area Code" class="form-control" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 remove-padding">
                        <input name="phoneNumberNominee" placeholder="Phone Number" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- End Nominee’s Contact Number -->
            <!-- Nominee’s Email Address -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Nominee’s Email Address</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-padding">
                        <input name="emailNominee" placeholder="Email" class="form-control " />
                    </div>
                </div>
            </div>
            <!-- End Nominee’s Email Address -->

        </div>
        <!-- End Nominee Information -->
        <!-- Nominator’s Details -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">

            <div class="spacer"></div>
            <div class="title-bar">Nominator’s Details</div>

            <!-- Your (Nominator’s) Name -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Your (Nominator’s) Name</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 remove-padding">
                        <input name="firstNameNominator" placeholder="First Name" class="form-control" />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 remove-padding">
                        <input name="lastNameNominator" placeholder="Last Name" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- End Your (Nominator’s) Name -->
            <!-- Company Name -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Company Name</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-padding">
                        <input name="companyName" placeholder="Company Name" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- End Company Name-->
            <!-- Address -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Address</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-padding">
                        <textarea name="address" placeholder="Address" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- End Address -->
            <!-- Nominator’s Contact Number -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Nominator’s Contact Number</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 remove-padding">
                        <input name="areaCodeNominator" placeholder="Area Code" class="form-control" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 remove-padding">
                        <input name="phoneNumberNominator" placeholder="Phone Number" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- End Nominator’s Contact Number -->
            <!-- Nominator’s Email Address -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Nominator’s Email Address</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 remove-padding">
                        <input name="emailNominator" placeholder="Email" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- End Nominator’s Email Address -->

        </div>
        <!-- End Nominator’s Details  -->
        <!-- Nomination Form -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">

            <div class="spacer"></div>
            <div class="title-bar">Nomination Form</div>

            <!-- Personal Criteria -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Personal Criteria</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <textarea name="personalCriteria" placeholder="Describe the nominee’s personal achievements and background" class="form-control large-textarea-box" />
                </div>
            </div>
            <!-- End Personal Criteria -->
            <!-- Professional Criteria -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Professional Criteria</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <textarea name="professionalCriteria" placeholder="Describe the Nominees most significant contributions to your organisation" class="form-control large-textarea-box" />
                </div>
            </div>
            <!-- End Professional Criteria -->
            <!-- Leadership & Integrity -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Leadership & Integrity</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <textarea name="leadershipAndIntegrity" placeholder="Describe how the nominee leads with high professional standards, ethics and integrity" class="form-control large-textarea-box" />
                </div>
            </div>
            <!-- End Leadership & Integrity -->
            <!-- Innovation -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Innovation</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <textarea name="innovation" placeholder="Describe the nominee’s most significant innovations." class="form-control large-textarea-box" />
                </div>
            </div>
            <!-- End Innovation -->
            <!-- Results -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Results</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <textarea name="results" placeholder="Describe the nominee’s most significant results for the organisation." class="form-control large-textarea-box" />
                </div>
            </div>
            <!-- End Results -->
            <!-- Impact -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Impact</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <textarea name="impact" placeholder="Describe the nominee’s impact on your organisation" class="form-control large-textarea-box" />
                </div>
            </div>
            <!-- End Impact -->
            <!-- Any other Information you would like to include about your Nominee -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                <label>Any other Information you would like to include about your Nominee</label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
                    <textarea name="additionalInformation" placeholder="Please provide any additional information" class="form-control extra-textarea-box" />
                </div>
            </div>
            <!-- End Any other Information you would like to include about your Nominee -->

        </div>
        <!-- End Nomination Form  -->

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-padding">
            <button id="contact-us-send-btn" class="btn btn-block btn-success" type="submit">SEND</button>
        </div>
    </form>
</section>
