<section>
    <div id="logo-container">
        <img class="logo-image animated fadeInDown"
             data-bind="attr: { src: config.imageCdn + 'logo/logo.svg' }"/>

        <form class="form-signin" id="resetpassword">

            <h4 data-bind="text: $root.loc.stringRequestedResetPassword"></h4>
            <h5 data-bind="text: $root.loc.stringEnterPasswordTwice, visible: !isDone()" class="lighter-color"></h5>

            <div data-bind="messageBox: messageDetail"></div>

            <div class="control-group input-append " data-bind="visible: !isDone()">

                <div class="form-group first-input">

                    <input class="form-control"
                           data-bind="textInput: password;"
                           type="password" name="password"
                           placeholder="New Password"/>

                    <p class="small help-text" data-bind="validationMessage: password"></p>

                </div>

                <div class="form-group last-input">

                    <input class="form-control"
                           data-bind="textInput: confirmPassword;"
                           type="password" name="confirmPassword"
                           placeholder="Confirm New Password"/>

                    <p class="small help-text" data-bind="validationMessage: confirmPassword"></p>

                </div>

                <button type="button"
                        class="btn btn-md  btn-block btn-primary"
                        data-bind="click: resetPassword"
                        id="reset">

                    <i class="fa fa-circle-o-notch fa-spin" data-bind="visible: isBusy"></i>

                    <span data-bind="visible: isBusy, text: $root.loc.buttonSendingDots"></span>
                    <span data-bind="visible: !isBusy(), text: $root.loc.buttonResetPassword"></span>

                </button>

            </div>

        </form>
    </div>
</section>